﻿@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "images.scss";

.padding-right-10 {
    padding-right: 10%;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-40 {
    margin-top: 40px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
footer {
    margin-top: 22px;
    padding-top: 22px;
    padding-bottom: 10px;
    border: 0;
    border-top: 1px solid #eeeeee;
    background-color: #35383b;
    color: #ddd;
}

.menu-language {
    .activite {
        font-weight: bold;
    }

    > a {
        color: #4e336f;
        padding-top: $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
        display: inline-block;

        &:hover {
            color: #fff;
        }
    }

    margin-left: $navbar-padding-vertical;
    margin-right: -$navbar-padding-vertical;
}

.login {
    right: auto !important;

    .form-horizontal {
        margin-top: 15px;
    }

    .form-group {
        margin-left: -5px;
        margin-right: -5px;
    }

    .checkbox {
        padding-top: 0;
        min-height: 0;
        margin-top: -3px;
        margin-bottom: -4px;
    }
}

.modal-trapeze {
    height: 0;
    border-left: 45px solid transparent;
    border-bottom: 60px solid #61ccbd;

    h4 {
        font-family: 'Agency FB Bold', arial;
        font-size: 25px;
        margin-top: 12px;
        margin-bottom: 40px;
        margin-left: 28px;
        color: #4e336f;
    }
}

.model-parallelogram {
    padding: 0;
    cursor: default; 
    @include skew(25deg, 0);

    button, input, a {
        background-color: transparent;
        @include skew(-25deg, 0);
        &,
        &:hover,
        &:focus,
        &:active {
            outline: 0 !important; 
            background-color: transparent !important;
            @include box-shadow(none);
        }
    }

}

.model-parallelogram-reflection {
    padding: 0;
    cursor: default; 
    @include skew(-25deg, 0);

    input, a {
        background-color: transparent;
        font-weight: bold;
        @include skew(25deg, 0);
        &,
        &:hover,
        &:focus,
        &:active {
            outline: 0 !important; 
            background-color: transparent !important;
            @include box-shadow(none);
        }
    }

    .btn-lg {
        padding: 14px 55px;
    }

}

.announcement {
    padding-top: 25px;

    figcaption {
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 18px 12px;
        position: absolute;
        max-width: 521px;
        margin-right: auto;  
        margin-left: auto;  
    }

    img {
        width: 100%;
        max-width: 521px;   
    }

    h4 {
        font-size: 22px;
        float: right;
        color: #447dab;
    }

   span, p, a, .max {
        max-width: 512px;
        margin-right: auto;
        margin-left: auto;
        display: block;
   }

   p {
        margin-top: 5px;
        text-align: justify;
        text-justify: inter-word;
        text-indent: 2em;
        hyphens: auto;
   }
   
   a, span {
       display: inline-block;
       font-weight: bold;
       color: $body-bg !important;
   }

   /* btn */
   span {
        cursor: auto;
        background-color: transparent;
        @include skew(-25deg, 0);
        &,
        &:hover,
        &:focus,
        &:active {
            outline: 0 !important; 
            background-color: transparent !important;
            @include box-shadow(none);
        }
    }

    .success {
        background-color: rgba(96, 202, 188, 0.2);
    }

    .failure {
        background-color: rgba(205, 86, 86, 0.2);
    }
    
    .lost {
        background: #cd5656 !important;
    }

    .fund {
       background: #61ccbd !important;
    }
}

.belt {
    margin-left: -$panel-body-padding;
    background: #85aed0;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 45%;
}

.background {
    background: $body-bg;
	position: relative;
	padding: 0 55px;
	display: inline-block;
}

.search {
    border-bottom-color: #4e336f;
    color: #7ba8cd;
    border-bottom-width: 200px;

    .btn {
        color: #4e336f;
    }

    input {
        border-radius: 0;
    }
}

.code {
    border-bottom-width: 125px !important;
}

.btn-search {
    font-size: 24px;

    span {
        font-size: 35px;
    }

    p {
        margin: 0;
        display: inline-block;
        bottom: 6px;
        position: relative;
    }

    .btn {
        color: #fff;
        background: #47386b;
        top: 1px;
        position: relative;
    }

    .act {
        background: #62cabf;
    }

}

.btn-manage {
    width: 120px;
    height: 120px;
    padding: 33px 10px;
    white-space: pre-line;
}
