﻿@model ThingFinder.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>"Szukajcie, a znajdziecie"</h4>
<hr />


        <div>
            <p>
               Znalazłeś przedmiot to zgłoś!
            </p>
        </div>
   
    

