﻿@model ThingFinder.Models.LoginViewModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        <div class="input-group">                          
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        </div>                      
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-xs-4 control-label" })
                    <div class="col-xs-8">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        </div>                                   
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-5 col-xs-7">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group" style="margin-left: -15px;margin-right: -15px;">
                    <div class="col-xs-12">
                        <input type="submit" value="Zaloguj się" class="btn btn-primary btn-block" />
                    </div>
                </div>
                @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                
                    <p>
                        @Html.ActionLink("Zapomniałeś hasła?", "ForgotPassword","Account")
                    </p>
}