﻿@model ThingFinder.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-offset-0 col-md-4 col-xs-offset-1 control-label" })
        <div class="col-md-offset-0 col-md-7 col-xs-offset-1 col-xs-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-offset-0 col-md-4 col-xs-offset-1 control-label" })
        <div class="col-md-offset-0 col-md-7 col-xs-offset-1 col-xs-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-offset-0 col-md-4 col-xs-offset-1 control-label" })
        <div class="col-md-offset-0 col-md-7 col-xs-offset-1 col-xs-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-10">
            <div class="model-parallelogram btn btn-default pull-right">
                <input type="submit" class="btn btn-default btn-lg" value="Zarejestruj się" />
            </div>
        </div>
    </div>
}
