﻿@model ThingFinder.Models.IndexViewModel
@{
    ViewBag.Title = "Panel konta";
}
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword", null, new { @class = "btn btn-default btn-lg btn-manage" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-default btn-lg btn-manage" })
            }
            @Html.ActionLink("Edycja", "Settings", null, new { @class = "btn btn-default btn-lg btn-manage" })
            @Html.ActionLink("Moje Przedmioty", "Index", "Things", null, new { @class = "btn btn-default btn-lg btn-manage" })
            @Html.ActionLink("Moje Ogłoszenia", "MyAnnoucements", "Announcements", null, new { @class = "btn btn-default btn-lg btn-manage" })
            @Html.ActionLink("Raporty", "Index", "Reports", null, new { @class = "btn btn-default btn-lg btn-manage" })

            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Wszystkie Przedmioty", "AllThings", "Things", null, new { @class = "btn btn-default btn-lg btn-manage", @style = "margin-right: 5px;" })
                @Html.ActionLink("Wszystkie Ogłoszenia", "AllAnnoucements", "Announcements", null, new { @class = "btn btn-default btn-lg btn-manage", @style = "margin-right: 5 px;" })
            }

        </div>
    </div>
</div>
@*<div>
    <hr />
    <dl class="dl-horizontal">*@
@*<dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>*@
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@*<dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>
        @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }
    </dd>*@
@*</dl>
    </div>*@
