//
// Close icons
// --------------------------------------------------


.close {
  float: right;
  font-size: 22px;
  line-height: 0.6;
  color: $close-color;
  @include opacity(.7);

  &:hover,
  &:focus {
    color: $close-color;
    text-decoration: none;
    cursor: pointer;
    @include opacity(1);
  }

  // [converter] extracted button& to button.close
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
button.close {
  cursor: pointer;
  background: #cd5656;
  border: 0;
  -webkit-appearance: none;
}
