﻿@model ThingFinder.Models.ViewModels.SearchCodeThingViewModels

@using (Html.BeginForm("Found", "Reports", FormMethod.Get))
{
    <div class="form-horizontal margin-top-20">

        <div class="form-group">
            @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 nopadding">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                <input type="submit" value="Wyszukaj" class="btn btn-default btn-block" />
            </div>
        </div>

    </div>
}
