﻿@model ThingFinder.Models.Thing

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy jesteś pewnien usunięcia przedmiotu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filter.Color.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filter.Color.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filter.Stuff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filter.Stuff.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Powrót do listy", "Index",null , new { @class = "btn btn-default" })
        </div>
    }
</div>
