﻿@model ThingFinder.Models.Thing

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div>
    <h4>@Model.Description</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ikona
        </dt>
        <dd>
            @if (Model.Photo.Count > 0)
            {
            var photo = Model.Photo.First(x => x.ThingId == Model.Id).Icon;

            <img src="data:image/png;base64,@Convert.ToBase64String(photo)"
                 alt="Image" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filter.Color.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filter.Color.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filter.Stuff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Filter.Stuff.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
</p>
