﻿@model IEnumerable<ThingFinder.Models.Thing>

@{
    ViewBag.Title = "Index";
}

<h2>Moje przedmioty</h2>

<p>
    @Html.ActionLink("Dodaj Przedmiot", "Create",null ,new { @class = "btn btn-success btn-lg" })
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Photo.Picture)*@ 
            Ikona
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @{
                @*if (item.Photo.Count != 0)
                {
                    byte[] photo = item.Photo.First(x => x.ThingId == item.Id).Icon;
                    string imageSrc = null;
                    string imageAlt = "Image" + item.Id.ToString();
                    if (photo != null)
                    {
                        MemoryStream ms = new MemoryStream();

                        string imageBase64 = Convert.ToBase64String(ms.ToArray());
                        imageSrc = string.Format("data:image/jpeg;base64,{0}", imageBase64);
                        <img src="@imageSrc" alt="@imageAlt" />
                    }
                }*@
            if (item.Photo.Count > 0)
            {
                var photo = item.Photo.First(x => x.ThingId == item.Id).Icon;

                <img src="data:image/png;base64,@Convert.ToBase64String(photo)"
                     alt="Image" />
            }
            else
            {
                <img src="@Url.Content("~/Content/images/announcements.png")" height="100" width="100" alt="@item.Code" />
            }


}
        </td>



        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRegistration)
        </td>

        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-lg" })
            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-lg" })
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-lg" })
            @if (item.Status.Name == "Zgubiony")
            {
                @Html.ActionLink("Stwórz Ogłoszenie", "AddAnnoucement", "Announcements", new { thingId = item.Id }, new { @class = "btn btn-warning btn-lg" })
            }
            @if (item.Photo.Count == 0)
            {
                @Html.ActionLink("Dodaj Zdjęcie", "Create", "Photos", new { id = item.Id }, new { @class = "btn btn-warning btn-lg" })
            }
            @Html.ActionLink("Generuj naklejke", "GenerateSticker", new { code = item.Code }, new { @class = "btn btn-success btn-lg" })

        </td>
    </tr>
}

</table>
