﻿@{
    ViewBag.Title = "Home Page";

    var act1 = "";
    var act2 = "";
    var act3 = "";

    var height = "";

    if (ViewBag.Id == "Code")
    {
        height = "code";
        act2 = "act";
    } else if (ViewBag.Id == "Photo")
    {
        act3 = "act";
    } else
    {
        act1 = "act";
    }
}

<div class="banner"></div>

<div class="container btn-search">
    <div class="row">
        <div class="col-xs-12 text-right text-uppercase" style="margin-top: -63px;">
            <a href="@Url.Action("Index", "Home", new { id = "" })" class="btn btn-lg @act1">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <p>Wyszukiwanie</p>
            </a>
            <a href="@Url.Action("Index", "Home", new { id = "Code" })" class="btn btn-lg @act2">
                <span class="glyphicon" >#</span>
                <p>Kod przedmiotu</p>
            </a>
            <a href="@Url.Action("Index", "Home", new { id = "Photo" })" class="btn btn-lg  @act3">
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                <p>Po zdjęciu</p>
            </a>
        </div>
    </div>
</div>

<div class="col-xs-offset-2 col-xs-10" style="padding: 0;">
    <div class="modal-trapeze search @height">
        <div class="col-xs-10">
            @Html.Action("SearchAnnouncements", "Announcements")
        </div>
    </div>
</div>

<div class="container">

    @Html.Action("SelectedTwoLast", "Announcements")

    <div class="row">
        <div class="col-xs-12 text-center text-uppercase margin-top-40">
            <div class="belt"></div>
            <div class="background">
                <div class="model-parallelogram-reflection btn btn-default">
                    @Html.ActionLink("Więcej", "Index", "Announcements", null, new { @class = "btn btn-default btn-lg" })
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/map")

    <script type="text/javascript">

        function initMap() {
            maps.setRadius(NaN);
            maps.setLocation(true);
            maps.init();
        }

        jQuery.validator.methods["date"] = function (value, element) {
            return this.optional(element) || /^\d{2}[-]\d{2}[-]\d{4}$/.test(value);
        }

        jQuery.validator.methods["number"] = function (value, element) {
            return this.optional(element) || /^(?:-?\d+|-?\d{1,3}(?:,\d{3})+)?(?:\.\d+)?(?:\,\d+)?$/.test(value);
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnXkUYDhTQVAdtI4f3fF2mYUT6Z0B-jRw&callback=initMap">
    </script>
}

