﻿@model ThingFinder.Models.Report

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły raportu</h2>

<div>
    <h4>Raport z dnia @Model.DateOfNotification przedmiotu o kodzie @Model.Thing.Code</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <div id="map"></div>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfFound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfFound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfNotification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfNotification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Founder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Founder)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Powrót do listy raportów", "Index")
</p>
@Html.HiddenFor(model => model.Latitude, new { id = "Latitude" })
@Html.HiddenFor(model => model.Longitude, new { id = "Longitude" })

@section Scripts {

    @Scripts.Render("~/bundles/map")

    <script type="text/javascript">


        function initMap() {
            maps.setRadius(parseInt($("#Range").val()));
            maps.setPosition(parseFloat($("#Latitude").val().toString().replace(',', '.')), parseFloat($("#Longitude").val().toString().replace(',', '.')));
            maps.setLocation(false);
            maps.init();
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnXkUYDhTQVAdtI4f3fF2mYUT6Z0B-jRw&callback=initMap">
    </script>
}