﻿@model IEnumerable<ThingFinder.Models.Report>

@{
    ViewBag.Title = "Raporty";
}

<h2>Lista raportów</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Thing.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfFound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfNotification)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfFound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfNotification)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Szczegóły", "Details", new { id=item.Id }, new { @class = "btn btn-default btn-lg" }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
