﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ThingFinder</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("https://fonts.googleapis.com/css?family=Open+Sans")
    @Styles.Render("http://pl.allfont.net/allfont.css?fonts=agency-fb-bold")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" title="index" class="navbar-brand">
                    <img src=@Url.Content("~/Content/images/logo-thingfinder.png") alt="logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav navbar-right menu-language">
                    @Html.ActionLink("PL", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "activite" })
                    <spam>/</spam>
                    @Html.ActionLink("EN", "Index", "Home")
                </div>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right padding-right-10">
                    <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
                    @*@if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Moje Przedmioty","Index","Things")</li>
                    }
                    <li>@Html.ActionLink("Ogłoszenia","Index","Announcements")</li>*@
                    <li>@Html.ActionLink("O nas", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("_RegisterPartial")
    <div class="container-frame">
        @RenderBody()
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
