﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Twój panel", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" data-toggle="dropdown">Zaloguj sie</a>
            <ul class="dropdown-menu login">             
                @{ Html.RenderPartial("~/Views/Account/_Login.cshtml", new ThingFinder.Models.LoginViewModel()); }
            </ul>
        </li>
        <li><a href="#" data-toggle="modal" data-target="#register">Rejestracja</a></li>
    </ul>
}
