﻿@using Microsoft.AspNet.Identity

@if (!Request.IsAuthenticated)
{
    <div id="register" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container-fluid modal-trapeze col-xs-offset-3 col-xs-9">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-uppercase">Rejstracja</h4>
                    </div>
                </div>
                <div class="modal-body">
                    @{ Html.RenderPartial("~/Views/Account/_Register.cshtml", new ThingFinder.Models.RegisterViewModel()); }
                </div>
            </div>

        </div>
    </div>
}
