﻿@model ThingFinder.Models.ViewModels.AddPhotoViewModel

@{
    ViewBag.Title = "Dodaj Zdjęcie";
}

<h2>Dodaj Zdjęcie</h2>

<span class="text-danger">@ViewBag.Error</span>

@using (Html.BeginForm("Create", "Photos", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <div class="form-group">
            <div class="col-md-10">
                <label class="btn btn-default btn-file btn-lg">
                    Prześlij zdjęcie <input type="file" name="file" id="file" style="display:none;" />
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>
        <div id="image-holder"></div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Dodaj Zdjęcie" class="btn btn-default btn-success btn-lg" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy przedmiotów", "Index","Things")
</div>
<script>

    $(document).ready(function () {
        $("#file").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();
            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {
                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }
                } else {
                    alert("Przeglądarka nie wspiera podglądu");
                }
            } else {
                alert("To nie jest zdjecie prosimy o wrzucenia w formacie jpg, gif, png , jpeg");
            }
        });
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
