﻿@model ThingFinder.Models.ViewModels.AddPhotoViewModel

@{
    ViewBag.Title = "FindByPhoto";
}

<h2>Moduł porównawczy</h2>

@Html.Partial("_SearchPhoto")
<div>
    @Html.ActionLink("Powrót", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
