﻿@model IEnumerable<ThingFinder.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Thing.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Thing.Code)
        </td>
        <td>
            @{
                var photo = item.Icon;

                <img src="data:image/png;base64,@Convert.ToBase64String(photo)"
                     alt="Image" />
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Things" ,new { id=item.ThingId },null)
        </td>
    </tr>
}

</table>
