﻿@model List<ThingFinder.Models.ViewModels.ShowSimilars>
@{
    ViewBag.Title = "ShowSimilars";
}

<h2>Podobne</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Obraz
            </th>
            <th>
                Podobieństwo
            </th>
            <th>
                Podobieństwo z wykorzystaniem odległości Bhattacharyya
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var photo = item.Photo;

                    <img src="data:image/png;base64,@Convert.ToBase64String(photo)"
                         alt="Image" />
                }
            </td>
            <td>
                @item.similar
            </td>
            <td>
                @item.similarBhattacharyya
            </td>
        </tr>
     }

</table>
