﻿@model IEnumerable<ThingFinder.Models.Announcement>


@{ int i = 0; }

@foreach (var announcement in Model)
{

    if (i % 2 == 0)
    {
        @Html.Raw("<div class=row>");
    }

    var type = @announcement.Type.Name == "Znalezione" ? "success" : "failure";
    var lost = @announcement.Type.Name == "Zgubione" ? "lost" : "fund";

    <div class="col-md-6 announcement">
        <div calass="row">
            <div class="col-xs-12 text-center nopadding">
                <figure>
                    <img src="@Url.Content("~/Content/images/announcements.png")" alt="@announcement.KeyWords" />
                    <figcaption class="@type">
                        <h4>@announcement.KeyWords</h4>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div calass="row">
            <div class="col-xs-12">
                <p>@announcement.Description</p>
            </div>
        </div>
        <div calass="row">
            <div class="max text-uppercase">
                <div class="col-xs-12" style="margin-top: -7px;">
                    <div class="model-parallelogram pull-right btn btn-info" style="margin-left: -2px;">
                        @Html.ActionLink("Więcej", "Details", "Announcements", new { id = announcement.Id }, new { @class = "btn btn-default btn-lg" })
                    </div>
                    <div class="model-parallelogram pull-right btn btn-default @lost">
                        <span class="btn btn-default btn-lg">@announcement.Type.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (i % 2 != 0)
    {
        @Html.Raw("</div>");
    }

    i++;
}
