﻿@model ThingFinder.Models.ViewModels.SearchAnnouncementsViewModels

@using (Html.BeginForm("", "Announcements", FormMethod.Get))
{
    <div class="form-horizontal margin-top-20">

        <div class="form-group">
            @Html.LabelFor(model => model.KeyWords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 nopadding">
                @Html.EditorFor(model => model.KeyWords, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KeyWords, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { style = "display:none", @readonly = "readonly" } })

        @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { style = "display:none", @readonly = "readonly" } })

        @Html.EditorFor(model => model.Range, new { htmlAttributes = new { style = "display:none", @readonly = "readonly" } })

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Kategoria", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-lg-7 col-md-6 nopadding">
                @Html.DropDownListFor(model => model.CategoryId, Model.Categorys, string.Empty, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
            <div class="col-lg-3 col-md-4 nopadding">
                <div class="pull-right">
                    @for (int i = 0; i < Model.Types.Count(); i++)
                    {
                        @Html.LabelFor(m => m.Types[i].IsSelected, Model.Types[i].Text, htmlAttributes: new { style = "padding: 4px" })
                        @Html.HiddenFor(m => m.Types[i].Value)
                        @Html.CheckBoxFor(m => m.Types[i].IsSelected, new { @checked = "checked" });
                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-11">
                <div class="pull-right">
                    <input type="submit" value="Szukaj" class="btn btn-primary btn-lg" style="margin-left: 50px;" />
                </div>
                <div class="model-parallelogram btn btn-default pull-right">
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#shareLocation">Udostępnij lokalizację</button>
                </div>
            </div>
        </div>
    </div>
}

<div id="shareLocation" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid modal-trapeze col-xs-offset-3 col-xs-9">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-uppercase">Udostępnij lokalizację</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 nopadding" style="margin-bottom: -15px !important;">
                        <div id="errorLocalization" class="alert alert-danger" role="alert" style="display:none;">
                            <strong>Twoja przeglądarka nie wspiera geolokalizacji.</strong>
                        </div>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
