﻿@model ThingFinder.Models.Announcement

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            Szczegóły
        </div>
        <div class="panel-title pull-right">
            <a href="#" class="btn btn-default btn-lg" onclick="toggler('OwnerInformation');">Znalazłeś/Zgubiłeś</a>
            <div id="OwnerInformation" class="hidden">
                <div class="dl-horizontal">
                    <dl>
                        <dt>
                            Numer Telefonu
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.User.PhoneNumber)
                        </dd>
                    </dl>
                    @if (Request.IsAuthenticated)
                    {
                        <a href="#" class="btn btn-success btn-lg" data-toggle="modal" data-target="#sendmessage">Wyślij wiadomość</a>
                        @*@Html.ActionLink("Wyślij maila", "SendMessage",new { announcementId = Model.Id } , new { @class = "btn btn-success btn-lg" })*@
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <div id="map"></div>
        <dt>
            @Html.DisplayNameFor(model => model.KeyWords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KeyWords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAnnouncement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAnnouncement)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Powrót", "Index")
</p>
<div id="shareLocation" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid modal-trapeze col-xs-offset-3 col-xs-9">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-uppercase">Pokaź lokalizację</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 nopadding" style="margin-bottom: -15px !important;">
                        <div id="errorLocalization" class="alert alert-danger" role="alert" style="display:none;">
                            <strong>Twoja przeglądarka nie wspiera geolokalizacji.</strong>
                        </div>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(model => model.Range, new { id = "Range" })
@Html.HiddenFor(model => model.Latitude, new { id = "Latitude" })
@Html.HiddenFor(model => model.Longitude, new { id = "Longitude" })
<div id="sendmessage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid modal-trapeze col-xs-offset-3 col-xs-9">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-uppercase">Wyślij wiadomość</h4>
                </div>
            </div>
            <div class="modal-body">
                @{
                    ThingFinder.Models.ViewModels.SendMessageViewModel.announcementId = Model.Id;
                    Html.RenderPartial("~/Views/Announcements/SendMessage.cshtml", new ThingFinder.Models.ViewModels.SendMessageViewModel() {  });
                }
            </div>
        </div>

    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/map")

    <script type="text/javascript">
        function toggler(divId) {
            $("#" + divId).toggleClass("hidden")
        }

        function initMap() {
            maps.setRadius(parseInt($("#Range").val()));
            maps.setPosition(parseFloat($("#Latitude").val().toString().replace(',', '.')), parseFloat($("#Longitude").val().toString().replace(',', '.')));
            maps.setLocation(false);
            maps.init();
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnXkUYDhTQVAdtI4f3fF2mYUT6Z0B-jRw&callback=initMap">
    </script>
}