﻿@model IEnumerable<ThingFinder.Models.Announcement>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title pull-right">
            @Html.ActionLink("Dodaj Ogłoszenie", "Create")
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="container">
    @Html.Partial("_MyAnnouncement")
</div>
