﻿@model ThingFinder.Models.ViewModels.SendMessageViewModel
@{
    ViewBag.Title = "Wyślij wiadomość";
}

<h2>Wyślij wiadomość</h2>

@using (Html.BeginForm("SendMessage", "Announcements", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wyślij wiadomość" class="btn btn-default" />
            </div>
        </div>
    </div>
}
